---
- name: Deploy Zabbix Services
  hosts: all
  become: true

  pre_tasks:
    - name: Refresh apt repository cache (always run)
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 0
      changed_when: false

  roles:
    - role: zabbix-agent
